body {
    font-family: Century Gothic, Lato, sans-serif;
    margin: 0;
}

#header {
    background-image: url("header-min.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

#header #frame {
    position: relative;
    margin: 15px
    border: 3px solid white;
}

#header #content {
    text-align: center;
    color: white;
}
