body {
    font-family: Muli, Georgia, Century Gothic, sans-serif;
    margin: 0;
}

#header {
    background-image: url("header-min.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

#header #frame {
    height: 50%
    position: relative;
    padding: 15px;
    border: 8px solid white;
}

#header #content {
    text-align: center;
    color: navy;
}

#header #content h1 {
    font-size: 72px;
    font-weight: 700;
}
