body {
    font-family: Muli, Century Gothic, sans-serif;
    margin: 0;
    padding; 0;
}

#header {
    background-image: url("header-min.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

#header #border {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 15px;
}

#header #border #frame {
    height: 100%;
    width: 100%;
    border: 10px solid white;
}

#header #content {
    text-align: center;
    color: black;
}

#header #content h1 {
    font-size: 72px;
}
