<div class="container-fluid">

    <div>

        <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

            <div class="ha-parallax-body">

                <div class="ha-content ha-content-whitecolor">

                    "I'm the king of the world"

                </div>

                <div class="ha-parallax-divider-wrapper">

                    <span class="ha-diamond-divider-md img-responsive"></span>

                </div>

                <div class="ha-heading-parallax">Spargo Team</div>

            </div>

        </div>
    </div>

</div>